@model List<Answer>

@{
    ViewData["Title"] = "Sorunun Cevapları";
}

@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1>Cevaplar</h1>
        </div>
   </div>

    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Cevap
                    </th>
                    <th>
                        Cevap Veren
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var answer in Model)
                {
                    <tr>
                        <td>@answer.Text</td>
                        <td>@answer.UserName</td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a asp-controller="Answer" asp-action="Delete" asp-route-id="@answer.Id" type="button" class="btn btn-danger" style="width:150px">Cevabı Sil</a>
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>

        </table>
        <a asp-controller="Answer" asp-action="Add" class="btn-lg btn-primary">
            Cevap Ekle
        </a>
        
        }
        else
        {
            <p>Bu soruya henüz bir cevap verilmedi</p>
        
            <a asp-controller="Answer" asp-action="Add" class="btn-lg btn-primary">
            Cevap Ekle
        </a>
        
        
        }
</div>


<ul class="pagination">
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        if (i == ViewBag.Page)
        {
            <li class="page-item active"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@i" asp-route-size=@ViewBag.Size>@i</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@i" asp-route-size=@ViewBag.Size>@i</a></li>
        }

    }



</ul>

<ul class="pagination">
    @for (int i = 5; i <= 25; i = i + 5)
    {
        if (i == ViewBag.Size)
        {
            <li class="page-item active"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@ViewBag.page" asp-route-size="@i">@i</a></li>
        }
        else
        {
            <li class="page-item "><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@ViewBag.page" asp-route-size="@i">@i</a></li>
        }
    }



</ul>